@import "./../../styles/base.scss";
@import "./steps/Step1/Step1.scss";
@import "./steps/Step2/Step2.scss";
@import "./steps/Step3/Step3.scss";
@import "./navigation/Footer/Footer.scss";
@import "./navigation/Header/Header.scss";
@import "./navigation/MainTitle.scss";

.app-content {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  main {
    margin: 20px 80px;
    height: 50vh;
  }
}
