$text-color: #313131;
$step-color: #788f9c;
$step-hover-color: #3b6a86;
$green-color: #1ec86c;
$light-green-color: #9cdcb9;
$dark-green-color: #07542a;

$white: #ffffff;
$black: #000000;
$red: red;

$nav-steps-width: 180px;
$nav-steps-height: 100px;
$nav-triangle-width: calc(#{$nav-steps-width} - 12px);
$triangle-width: 18px;

// visibility
.hidden {
  visibility: hidden;
}
.none {
  display: none;
}
