@import "./PrivacyCheckbox.scss";
.step1 {
  color: $text-color;
  .logo {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    img {
      width: 40%;
    }
  }
  h2 {
    font-weight: bolder;
    padding-bottom: 0.3rem;
  }
  p {
    padding: 8px 0;
    text-align: justify;
  }
}
