.step1 {
  color: $text-color;
  .logo {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    img {
      width: 40%;
    }
  }
  h2 {
    font-weight: bolder;
    padding-bottom: 0.3rem;
  }
  p {
    padding: 8px 0;
  }
  .input-container {
    cursor: pointer;
    input {
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
    .checkmark {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
      height: 20px;
      width: 20px;
      background-color: $white;
      border: 1px solid $text-color;
      .inner {
        width: 12px;
        height: 12px;
      }
    }
    &:hover input + .checkmark {
      .inner {
        background-color: $light-green-color;
      }
    }
    input:checked + .checkmark {
      box-sizing: border-box;
      .inner {
        background-color: $green-color;
      }
    }

    label {
      display: flex;
      align-items: center;
      padding: 20px 0;
      font-size: 0.9rem;
    }
  }
}
