.password-input {
  display: flex;
  flex-direction: column;
  .password-container {
    position: relative;
    display: flex;
    align-items: center;
    input {
      width: 100%;
    }
    .password-inside-icon {
      position: absolute;
      z-index: 1;
      right: 10px;
      color: $text-color;
      cursor: pointer;
      &:hover {
        color: $step-hover-color;
      }
    }
    .password-strength {
      z-index: 2;
      position: absolute;
      bottom: 3px;
      height: 3px;
    }
    .weak {
      background-color: red;

      width: 25%;
    }
    .fair {
      background-color: orange;

      width: 50%;
    }
    .good {
      background-color: green;

      width: 75%;
    }
    .strong {
      background-color: blue;

      width: 100%;
    }
  }
}
