.password-input {
  display: flex;
  flex-direction: column;
  .password-container {
    position: relative;
    display: flex;
    align-items: center;
    input {
      width: 100%;
    }
    .password-inside-icon {
      position: absolute;
      z-index: 1;
      right: 10px;
      color: $text-color;
      cursor: pointer;
      &:hover {
        color: $step-hover-color;
      }
    }
  }
}
