footer {
  margin: 0 70px;
  width: 100%;
  .nav-container {
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .btn {
    padding: 4px 6px;
    border: none;
    width: 130px;
  }
  .back {
    background: $white;
    color: $dark-green-color;
    &:hover {
      color: $green-color;
    }
  }
  .next {
    color: $white;
    background-color: $dark-green-color;
    &:hover {
      color: $white;
      background-color: $green-color;
    }
    &:disabled {
      background-color: $step-color;
      color: $white;
      cursor: not-allowed;
    }
  }
  .start {
    font-weight: bolder;
    color: $dark-green-color;
    &:hover {
      color: $green-color;
    }
  }
}

.spinning {
  animation: spin 1s infinite linear normal;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
